@import "styles/mixins.scss";

.regular {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0 1rem 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  @include second-text;
}

.repoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 8px;
  background-color: #0088ff;
  border: 1px solid #0088ff;

  color: #fff !important;
  padding: 0.4rem 1rem;
  transition: 0.3s ease-in;
}
.repoLink:hover {
  background-color: transparent;
  border: 1px solid #0088ff;
  transition: 0.3s ease-in;
}
.repoLink:hover span {
  color: #007bff;

  @media (prefers-color-scheme: dark) {
    color: #00aaff;
  }
}

.repoLink img {
  width: 30px;
}

.heroIcon {
  width: 50px;
}

.hamContent {
  position: fixed;
  border: 2px solid var(--text-color);
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 2rem;
  background: var(--second-bg-color);
  width: 84%;
  height: 70%;
  z-index: 1;
  color: white;
}

.regular .links a {
  margin: 0 0.7rem 0 0.7rem;
}

.regular .repoLink {
  margin-left: 1.5rem !important;
}

.ham .links {
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
  height: 100%;
}

.ham .homeLink {
  font-size: 2rem;
}

.ham .homeLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.ham .otherLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.hamShow {
  left: 1%;
  transition: 0.6s ease-out;
}

.hamHide {
  left: -95vw;
  transition: 0.6s ease-out;
}

@media screen and (max-width: 627px) {
  .regular {
    display: none;
  }
}
@media screen and (min-width: 628px) {
  .ham {
    display: none;
  }
}
