.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.postSearchIcon {
  width: 2rem;
}
.postSearch {
  font-weight: 100;
  font-size: 1.5rem;
  width: clamp(15rem, 43vw, 64rem);
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
<<<<<<< HEAD
  padding: 0 0.4rem 0 0.4rem;
  border: 4px solid var(--text-color);
=======
  box-shadow: 0 0 0 1pt grey;
  padding: 0 0.4rem 0 0.4rem;
  border: 3px solid var(--text-color);
>>>>>>> 0d2bbe0ff564dea5e559d1e3dfae5c7ea65d91a6
  outline: none;
  transition: 0.2s;
}
