.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.postSearchIcon {
  width: 1.8rem;
}
.postSearch {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  width: clamp(15rem, 53vw, 64rem);
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 0 0 1pt grey;
  padding: 0 0.4rem 0 0.4rem;
  border: 3px solid var(--text-color);
  outline: none;
  transition: 0.2s;
}

.postSearch:focus {
  box-shadow: 0 0 4pt 2pt #1390ff;
  transition: 0.2s;

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 4pt 4pt #1390ff;
  }
}
