html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #d9d0c7, #00b7ff);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav > .links {
  margin: 1rem;
}

nav > .links > a {
  margin: 0 0.5rem 0 0.5rem;
}

footer {
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  margin-top: auto;
  color: white;
  background-color: rgb(58, 14, 120);
  padding: 10px;
}

.Typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.svg-inline--fa {
  width: 14px;
}
