.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
  flex-wrap: wrap;

  @media screen and (max-width: 607px) {
    margin-bottom: 3rem;
  }
}

.card {
  border-radius: 13px;
  padding: 0 3rem 0 3rem;
  box-shadow: 0px 0px 12px 10px #838383db;

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 0px 12px 10px #1b1b1b9c;
  }
}

.projectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 0.5rem 0 0.5rem 0;
  border: 2px solid aliceblue;
  padding: 8px;
  border-radius: 0.3rem;

  @media (prefers-color-scheme: dark) {
    color: #d1d1d1;
  }
}

.projectLink:first-child {
  margin-top: 1rem;
}
.projectLink:last-child {
  margin-bottom: 1rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: 1rem 0 1rem 0;
}

.logo {
  width: 35px;
}
.linkName {
  font-size: 1.3rem;

  @media (prefers-color-scheme: dark) {
    color: #d1d1d1;
  }
}

.cardTitle {
  text-align: center;
  color: #00526b;
  font-size: 1.8rem;

  @media (prefers-color-scheme: dark) {
    color: #d7d7d7;
  }
}

.projectsCard {
  @media screen and (max-width: 440px) {
    margin: 1.3rem;
  }
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 607px) {
    margin-top: 1.4rem;
  }
  color: white;
  font-size: max(4rem, 7vw, 4rem);
  font-weight: bold;
}
