@import "styles/mixins.scss";

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 607px) {
    margin-bottom: 3rem;
  }
}

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0.8rem;
  padding: 1rem;
  gap: 1rem;
  box-shadow: var(--card-styles);
  color: var(--second-text-color);
}

.projectImg {
  width: 200px;
  border-radius: 0.3rem;
}

.projectTitle {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.projectTitle,
.desc {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.links > a {
  @include second-text;
  @include second-border;
  border-radius: 5px;
  padding: 3px;
  transition: 0.5s ease;
}
